<div id="container">
  <section id="top_login">
    <div id="top_left_div">
      <h1>バンド練習表管理スケジューラー<strong>「Msche」</strong></h1>
      <h2>学生生活は短い。<span>効率よくバンド練習しよう。</span></h2>
      <a href="" id="login">ログイン</a>
    </div>
    <form name="form" class="header_form">
      <input type="text" name="email" class="header_form_input" placeholder="メールアドレス">
      <input type="password" name="password" class="header_form_input" placeholder="ご希望のパスワード">
      <input id="submit" class="request_submit" type="submit" value="オンラインでバン練表を管理する！" name="submit">
    </form>
  </section>
</div>
